services:
  php:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    volumes:
      - .:/app
      - composer-cache:/tmp/composer
    working_dir: /app
    tty: true

volumes:
  composer-cache: